<div class="filterSection">
	<form class="form-inline">
	  <div class="form-group">
		<label class="sr-only" for="exampleInputEmail3">Search</label>
		<input type="email" class="form-control" id="exampleInputEmail3" placeholder="Keyword">
	  </div>
	  <div class="form-group">
		<label class="sr-only" for="exampleInputPassword3">filter by</label>
			<select class="form-control">
			  <option value="">filter by</option>
			  <option value="compelte">Compelte</option>
			  <option value="review">Review</option>
			  <option value="progress">Progress</option>
			</select>
	  </div>
	</form>
</div>	